<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rg.survey.mapper.ClazzMapper">

    <resultMap id="BaseResultMap" type="com.rg.survey.entity.Clazz">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="className" column="class_name" jdbcType="VARCHAR"/>
            <result property="gradeId" column="grade_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="DATE"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,class_name,grade_id,
        create_time,is_delete,status,
        version
    </sql>
</mapper>
