<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rg.survey.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.rg.survey.entity.Student">
            <id property="studnetId" column="studnet_id" jdbcType="INTEGER"/>
            <result property="studentNo" column="student_no" jdbcType="VARCHAR"/>
            <result property="studentName" column="student_name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
            <result property="bornday" column="bornday" jdbcType="DATE"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="classId" column="class_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="DATE"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="openid" column="openid" jdbcType="VARCHAR"/>
            <result property="sessionkey" column="sessionkey" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        studnet_id,student_no,student_name,
        gender,phone_number,bornday,
        password,class_id,status,
        create_time,is_delete,version,
        openid,sessionkey
    </sql>
</mapper>
