<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rg.survey.mapper.SurveyItemMapper">

    <resultMap id="BaseResultMap" type="com.rg.survey.entity.SurveyItem">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="surveyText" column="survey_text" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="DATE"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="checked" column="checked" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,survey_text,score,
        create_time,is_delete,version,
        checked
    </sql>
</mapper>
